.ui-notify { width:350px; position:absolute; top:10px; right:10px; }
.ui-notify-padding { padding:10px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message h1 { color:#fff; font-size:14px; font-weight:bold; margin:0; padding:0 }
.ui-notify-message p { color:#fff; margin:5px 0; padding:0; line-height:18px }
.ui-notify-close { margin-top:-4px; float:right; color:#fff; cursor:pointer; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-close:hover { text-decoration:none; color:#ffffab }
.ui-notify-close:active { position:relative; top:1px }

.ui-notify-message {
	margin-bottom:15px;
	background:#000;
	background:rgba(0,0,0,0.8);
	zoom:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#000,Strength=5);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	box-shadow: 0 0 6px #000;
}
